body {
  font-family: 'Arial', sans-serif; /* Change font family to Arial */
  margin: 20px auto; /* Change margin for better spacing */
  padding: 15px; /* Reduce padding for a more compact layout */
  max-width: 600px; /* Increase max-width for a wider content area */
  background-color: #ecf0f1; /* Change background color to a lighter shade */
  text-align: justify; /* Change text alignment to justify */
}

.heading {
  text-align: center;
  font-size: 2.5em; /* Increase font size for emphasis */
  color: #3498db; /* Change text color to a shade of blue */
  margin: 30px 0 20px; /* Adjust margin for better spacing */
}

.card {
  border-radius: 25px; /* Increase border-radius */
  position: relative;
  padding: 20px 10px; /* Adjust padding for a more compact card */
  background-color: #fff; /* Change background color to a shade of white */
  margin: 40px 0; /* Adjust margin for better spacing */
  height: 250px; /* Increase height  */
  box-shadow: 0 3px 8px #888; /* Change box-shadow for a subtle effect */
  text-align: center; /* Change text alignment to center */
}

.top {
  border-radius: 25px 25px 0 0;
  height: 100px;
  width: 100%;
  background-color: #00cec9;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}

.name {
  font-size: 2em;
  color: #2d3436;
  display: flex;
  flex: 1;
  margin: 10% 20px 0;
}

.card img {
  margin: 30px 20px 0 0;
}

.circle-img {
  border-radius: 50%;
  border: 7px solid #fff;
  width: 120px;
  height: 120px;
}

.bottom {
  margin-top: 120px;
}

.info {
  margin: 20px 0;
  color: #1a7e76;
}